.entity-form-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  height: 100%;
  flex-grow: 1;
}
.entity-form {
  grid-area: 1 / 3 / 13 / 13;
  display: flex;
  flex-direction: column;
}

.entity-form-aside {
  grid-area: 1 / 1 / 13 / 3;
  background-color: #4a4a4a;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.entity-form-aside button {
  width: 100%;
  margin: 0;
}

.entity-form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.field-label {
  display: flex;
  flex-direction: row;
}
.field {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.field-checkbox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.entity-form-aside button {
  padding: 2em;
}

.entity-form-content {
  border: solid blue;
  flex-grow: 1;
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
